/*font-family: 'Ubuntu', sans-serif;
font-family: 'Yatra One', cursive;
font-family: 'Exo', sans-serif;
*/

#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	

}


/*ETIQUETAS*/
body{
background-image: url(../img/fondo.jpg);
background-repeat: no-repeat;
background-size: cover;
}

h1{
font-family: 'Ubuntu', sans-serif;
color: #006680;
margin-left: 10px;
font-size: 30px;
text-align: center; 
}

h2{
font-family: 'Yatra One', cursive;
color: #FF5900;
margin-left: 10px;
font-size: 20px;
text-align: center; 
}

h3{
font-family: 'Exo', sans-serif;
color: white;
font-size: 30px;
text-align: center; 
}


header{
	width: 1000px;
	height: 100 px;
	background: rgba(255, 255, 255, 10,70);
}

nav{
width: 1000px;
height: 50px;
background: none;
border-radius: 10px;

}
ul{
margin: auto;
padding-top: 4px;
}

li{
	float: left;
	list-style-type: none;
	padding: 10px;
	background: #006680;
	margin: 3px;
	border-radius: 10px;
	box-shadow: 0 0 10px white outset; 

}

section{
	width: 1000px;
	background-image: url(../img/logo2.jpg);
	background-size: 1000px 600px;
	height: 600px;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
}


footer{
width: 1000px;
height: 70px;
background: none;
float: left;
font color:#F2b80d;
margin-top: 20px;
border-radius: 100px;
margin-bottom: 20px;
}

p{

	font-size: 15px;
	font-weight: bolder;
	line-height: 24px;
	padding: 10px;
	text-align: justify;
}



/*CLASES*/

.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}

.menu:link{color: white; text-decoration: none;}
.menu:visited{color: white; text-decoration: none;}
.menu:hover{color: white; text-decoration: none; text-shadow: 0 0 13px white;}
.menu:active{color: white; text-decoration: none;}

/*SEUDO CLASES*/

















